#calculator{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  padding: 1%;
  height: auto;
  background-color: rgb(70, 70, 70);
  box-shadow: 0px 0px 10px white;
}

body{
  background-color: black;
}

h1{
  color: white;
  text-align: center;
}

i{
  position: absolute;
  color: white;
  text-align: center;
  top: 90%;
  left: 50%;
  transform: translate(-50%);
}

button{
  width: 100%;
  height: 100%;
  font: 3vw "consolas";
  padding: 2%;
  background-color: black;
  color: rgb(200, 200, 200);
  border: 0px solid black;
  cursor: pointer;
  
  border-top: 2px solid grey;
  border-right: 2px solid  rgb(90, 90, 90);
  border-bottom: 2px solid rgb(90, 90, 90);
  border-left: 2px solid grey;
}

#equal{
  height: 10vw;
}

button:hover{
  color: white;
}

button:active{
  border-top: 2px solid rgb(90, 90, 90);
  border-right: 2px solid  grey;
  border-bottom: 2px solid grey;
  border-left: 2px solid rgb(90, 90, 90);
}

#result_field{
  width: 100%;
  height: 3vw;
  color: green;
  font: 3vw "consolas";
  background-color: black;
  border-top: 2px solid rgb(90, 90, 90);
  border-right: 2px solid  grey;
  border-bottom: 2px solid grey;
  border-left: 2px solid rgb(90, 90, 90);
  text-align: right;
}

table{
  width: 100%;
  height: 100%;
  height: auto;
  border-collapse: collapse;
}

td{
  text-align: center;
  padding: 2%;
  width: 16.66%;
}

tr{
  maring-top: 10px;
  maring-bottom: 10px;
}

.separator{
  border-right: 4px solid rgb(65, 65, 65);
}

