#calculator{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background-color: rgb(70, 70, 70);
  box-shadow: 0px 0px 10px white;
}

body{
  background-color: black;
}

h1{
  color: white;
  text-align: center;
}

i{
  position: absolute;
  color: white;
  text-align: center;
  top: 85%;
  left: 50%;
  transform: translate(-50%);
}

button{
  width: 80px;
  height: 80px;
  font: 40px "consolas";
  background-color: black;
  color: rgb(200, 200, 200);
  border: 0px solid black;
  cursor: pointer;
  
  border-top: 2px solid grey;
  border-right: 2px solid  rgb(90, 90, 90);
  border-bottom: 2px solid rgb(90, 90, 90);
  border-left: 2px solid grey;
  
}

button:hover{
  color: white;
}

button:active{
  border-top: 2px solid rgb(90, 90, 90);
  border-right: 2px solid  grey;
  border-bottom: 2px solid grey;
  border-left: 2px solid rgb(90, 90, 90);
}

#result_field{
  width: 100%;
  height: 40px;
  color: green;
  font: 35px "consolas";
  background-color: black;
  border-top: 2px solid rgb(90, 90, 90);
  border-right: 2px solid  grey;
  border-bottom: 2px solid grey;
  border-left: 2px solid rgb(90, 90, 90);
  text-align: right;
}

table{
  width: 100%;
  height: 100%;
  padding: 25px;
}

